<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style3.css">
</head>
<body>
<h1>Contact Us</h1>

<p>If you have any questions or comments, please feel free to contact us.</p>

<ul>
    <li>Email: josephcrypto@netsolution.com</li>
    <li>Phone: +95 9428316117</li>
    <li>
        Facebook Messenger:
        <a href="https://m.me/josephcrypto" target="_blank">
            <img src="https://img.icons8.com/ios/50/000000/facebook-messenger--v2.png"/>
<!--            <img src="https://www.facebook.com/josephcrypto"/>-->
        </a>
    </li>
</ul>

</body>
</html>
