<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Customer Form</title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center"><h2>Customer Form</h2></div>

        <form th:action="@{/customer/save}" method="post" th:object="${customer}" style="max-width: 500px; margin: 0 auto">
            <input type="hidden" th:field="*{cid}">
            <div class="border border-secondary rounded p-3">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Customer Name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{customerName}" class="form-control" required autofocus minlength="2" maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">PhoneNo:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{phoneNo}" class="form-control" required autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Exchange Amount:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{exchangeAmount}" class="form-control" required autofocus minlength="1" maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Rate:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{rate}" class="form-control" required autofocus maxlength="30"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">CashIn:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{cashIn}" class="form-control" autofocus/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">CashOut:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{cashOut}" class="form-control" autofocus/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Deposit:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{deposit}" class="form-control" autofocus/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Withdraw:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{withdraw}" class="form-control" autofocus />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">KBZPay:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{kbzPay}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">WaveMoney:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{waveMoney}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">TopUp:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{topUp}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">MobileBanking:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{mobileBanking}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">AccountTran:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{accountTransfer}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">VISACard:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{visaCard}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Loan:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{loan}" class="form-control" autofocus maxlength="50"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date:</label>
                    <div class="col-sm-8">
                        <input type="date" th:field="*{date}" class="form-control" autofocus />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Description:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{description}" class="form-control" autofocus maxlength="60"/>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-2">Save</button>
                    <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
                </div>
            </div>

        </form>
    </div>

    <script type="text/javascript">
        function cancelForm(){
            window.location = "[[@{/customer/list}]]"
        }
    </script>
</body>
</html>